.settings_block {
    width: 376px;
    display: inline-block;
    vertical-align: top;
    height: 100%;
    border-right: 1px solid #040404;
  }

  .settings_block:last-child {
    border-right: none;
    width: 377px;
  }