.thumbs img
{
    margin: 30px 20px 30px 20px;
    max-height: 338px;
    max-width: 337px;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    transform-origin: center;
    transition: transform 60ms ease-in-out;
}

#header div
{
    display: inline-block;
}

#menubutton
{
    width: 84px;
}

/* .thumbs img:hover
{
    outline: 3px solid yellow;
    transform: scale(2.2);
} */

div#header div {
    width: 154.64px;
    text-align: center;
}

#mppane {
    line-height: 0px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-flow: wrap-reverse;
    flex-direction: row-reverse;
}

.preview-menu_bar
{
    display: flex;
    justify-content: space-between;
    height: 0;
    position: relative;
    bottom: 40px;
}

.preview-parent_div
{
    align-self: center;
    transform-origin: center;
    transition: transform 60ms ease-in-out;
}