.thumbs img
{
    margin: 30px 20px 30px 20px;
    max-height: 338px;
    max-width: 337px;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    transform-origin: center;
    transition: transform 20ms ease-in-out;
}

#header div
{
    display: inline-block;
}

#menubutton
{
    width: 84px;
}

.thumbs img:hover
{
    outline: 3px solid yellow;
    transform: scale(2.2);
}

div#header div {
    width: 154.64px;
    text-align: center;
}