div.tsbg{
    position: absolute;
    filter: blur(5px);
    opacity: 75%;
    width: calc(100%);
    bottom: -41px;
    overflow: hidden;
    height: 42px;
    /* left: -13px; */
    background-image: linear-gradient(to top, #000000, #ffffff);
    transform: perspective(82px) rotateX( 
19deg);
scale: 1.1;
}

div.tsbg img{
    transform: scaleY(-1);
    opacity: inherit;
    max-width: 900px;
    max-height: 900px;
    width: inherit;
}

div.tsbg video{
    transform: scaleY(-1);
    opacity: inherit;
    max-width: 900px;
    max-height: 900px;
    width: inherit;
}

.thumbs img
{
    /* margin: 30px 20px 30px 20px; */
    max-height: 218px;
    max-width: 280px;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    transform-origin: center;
    transition: transform 60ms ease-in-out;
}

.thumbs video
{
    /* margin: 30px 20px 30px 20px; */
    max-height: 218px;
    max-width: 280px;
    display: inline-block;
    vertical-align: middle;
    align-self: center;
    transform-origin: center;
    transition: transform 60ms ease-in-out;
}

.preview-parent_div
{
    align-self: center;
    transform-origin: center;
    transition: transform 0.5s, bottom 0.5s, right 0.5s, left 0.5s ease-in-out;
    margin: 30px 30px 76px 30px;
    position: relative;
    bottom: 0vh;
    right: 0;
}

#pageselect
{
    display: flex;
    justify-content: center;
    flex-flow: wrap;
}

.page_number_select
{
display: inline-block;
color: #91dbfe;
font-size: 16px;
margin-left: 3px;
margin-right: 3px;
text-decoration: none;
height: fit-content;
}